.goods-list .price-list table tr th:nth-child(4), .goods-list .price-list table tr th:last-child{
    display: table-cell;
}

.btn {
    padding: 3px 5px 0;
}
.goods-list td span {
    font-size: 22px;
}
.goods-list .price-list table tr td:nth-child(4), .goods-list .price-list table tr td:last-child{
    display: table-cell;
}

.goods-list .price-list tr th:nth-child(3), .goods-list .price-list tr td:nth-child(3), .goods-list .price-list tr th:nth-child(7), .goods-list .price-list tr td:nth-child(7), .goods-list .price-list tr th:nth-child(6), .goods-list .price-list tr td:nth-child(6), .goods-list .price-list tr:last-child td:nth-child(2) {
    display: none;
}

.goods-list .price-list tr:last-child td:nth-child(2) {
    display: table-cell;
}

.goods-list .price-list tr:last-child td:first-child {
    display: none;
}

.goods-list .ammount-td {
    width: 300px;
}

.goods-list .form-control {
    width: 200px;
    margin: auto;
}

.goods-list .price-td {
    width: 250px;
}

.goods-list .price-td input {
    text-align: center;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    text-align: center;
}

.goods-list .submit-td {
    text-align: right;
    padding: 15px 0;
    width: 250px;
}

.goods-list .submit-td button {
    display: block;
    margin: auto;
    padding: 6px 25px;
    font-size: 16px; 
}

.goods-list .form-control:focus {
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}
