.invoice-content p {
    font-size: 16px;
}

.invoice-content .left-col {
    text-align-last: left;
}

.invoice-content .right-col {
    text-align: right;
}

.invoice-content tr td:first-child {
    text-align: left;
    padding-left: 20px;
}

.invoice-content .invisible-td {
    display: none;
}

.invoice-content .table th {
    text-align: left;
    padding-left: 20px;
}

.invoice-content table.invoice-items th {
    padding: 0;
    text-align: center;
}

.invoice-content .total-labels p,.invoice-content .total-labels h4 {
    text-align: left;
}

.invoice-content .total-price p,.invoice-content .total-price h4 {
    text-align: right;
}