header a {
    color: inherit; 
    font-weight: bold;
}

header .navbar-brand {
    margin-right: 30px;
}

header a:hover,header a:focus,header a:visited {
    color: inherit;
    text-decoration: none;
}

header .current {
    padding: 15px 0;
    box-sizing: border-box;
    display: block;
    float: right;
}