.price-list table tr th:nth-child(4), .price-list table tr th:last-child{
    display: none;
}

.price-list table tr td:nth-child(4), .price-list table tr td:last-child{
    display: none;
}

.price-list table tr th:first-child {
    width: 70px;
}

.price-list table tr td:nth-child(3),.price-list table tr td:nth-child(4),.price-list table tr td:nth-child(5),.price-list table tr td:nth-child(6) {
    min-width: 250px;
}

.price-list table tr:not(:last-child) td:nth-child(2) {
    min-width: 800px;
}

.price-list .ammount-td {
    width: 300px;
}

.price-list input.form-control {
    width: 200px;
    margin: auto;
    text-align: center;
}

.price-list input.form-control:focus {
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    text-align: center;
}

.price-list .submit-td {
    text-align: right;
    padding: 15px 0;
    width: 250px;
}

.price-list .submit-td button {
    display: block;
    margin: auto;
    padding: 6px 25px;
    font-size: 16px; 
}